body {
  background-color: white;
}

p {
  text-align: center;
  font-weight: bold;
  font-family: Arial;
  font-size: 50px;
  background-color: gray;
  color: black;
  padding: 40px;
  border-radius: 10px;
} 

h1 {
  background-color: black;
  color: white;
  text-align: center;
} 

h2 {
  background-color: black;
  color: white;
  text-align: center;
} 
