body {
  background-color: slateblue;
}

p {
  text-align: center;
  font-weight: bold;
  font-family: Aerial;
  font-size: 20px;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
} 
